body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

h3 {
    display: none;
    font-family: "Microsoft YaHei" ! important; 
}

.Subheading {
    margin-top: -10px;
    margin-left: 180px;
}

.Rebuliding {
    text-align: center; 
    margin-top: 200px;
}

.Sidebar {
    width: 300px;
    float: left;
}
.Content {
    float: left;
}

.Logo {
    width: 40%;
    height: 20px;
    margin:auto;
    margin: 20px 20px;
    float: left;

}

.Logo span {
    font-size: 20px;
    margin-right: 10px;
}

.Navigation {
    width: 55%;
    height: 20px;
    text-align: right;
    margin:auto;
    margin-top: 20px;
    border-right: #4b0082 solid 5px;
    float: left;
}

.Navigation a {
    color: #a9a9a9;
    text-decoration: none;
    font-size: 15px;
    padding-right: 5px;
}

.Navigation a:hover {
    color: #4b0082;
}

.IndexContent {
    text-align: center;
    margin: auto;
    padding-top: 8%;
}