<?xml version="1.0" encoding="utf-8"?>
<TMSRecruitStaticFiles majorVersion="1" minorVersion="1">
  <Files>
    <File name="common-style" type="css">
      css/common-153.min.css
    </File>
    <File name="dc" type="js">
      js/dc-153.min.js
    </File>
  </Files>
  <Pages>
    <Page name="home">
      <Header>
        <File type="ref">common-style</File>
        <File type="css">css/app/home-152.min.css</File>
      </Header>
      <Footer>
        <File type="ref">dc</File>
        <File type="js">js/app/home-152.min.js</File>
        <File type="html">
          <![CDATA[
            <script>
              var pageId = "hello";
            </script>
          ]]>
        </File>
      </Footer>
    </Page>
    <Page name="jobs">
      <Header></Header>
    </Page>
    <Page name="applicants">
      <Footer></Footer>
    </Page>
  </Pages>
</TMSRecruitStaticFiles>