@{
    ViewBag.Title = "Here is Ych.im";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Rebuliding">
    <h2>@ViewBag.Infomation</h2>
    <h5 class="Subheading">基于 MVC 4.0</h5>
    <h3>系 统 重 建 中</h3>  
    </div>