@{
    ViewBag.Title = "ArticlePost";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
@model bool
<h2>Article Post Result</h2>
<div class="Rebuliding">
@if (Model)
{
    <h2>Post Success!</h2>
}
else
{
    <h2>Post Failure!</h2>
}
    
    </div>